assets/posts/rag-in-n8n/RAG_1.json
{
  "name": "RAG 1",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=Generate an unstructured insurance claim report from the perspective of an insurance field agent. The report should include:\n- The type of incident: {{ $json.incident_type }}\n- The data of incident: {{ $json.incident_date }}\n- The location: {{ $json.location }}\n- The claimant's name: {{ $json.claimant_name }}\n- A brief narrative description of what happened\n- Any suspicious elements or inconsistencies\n- Recommended next steps\n\nThe tone should be professional and observational, not emotional.",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        -1720,
        -380
      ],
      "id": "18c1d8c9-f3be-4832-bbea-094132f67917",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1260,
        120
      ],
      "id": "7826afc9-e2ee-4c47-a506-7d65ad9d0d25",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "model": "google/gemini-2.0-flash-001",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -1740,
        -120
      ],
      "id": "d1ec434e-809d-4e1b-b6d1-338f233a1f7e",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "NZJ4cAvXYjvXmM8l",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1YPxkp5vQOGmQSu93jw1HvaEL9oYL0VtxMN_eQzLO6Uw",
          "mode": "list",
          "cachedResultName": "RAG Docs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1YPxkp5vQOGmQSu93jw1HvaEL9oYL0VtxMN_eQzLO6Uw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1YPxkp5vQOGmQSu93jw1HvaEL9oYL0VtxMN_eQzLO6Uw/edit#gid=0"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -1360,
        -360
      ],
      "id": "f43b0049-f1fe-443d-b209-808079ceb16d",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "JC2662nuoXYpTfST",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "import random\nfrom datetime import datetime, timedelta\n\nincident_types = [\n    \"car accident\", \"flood damage\", \"burglary\", \"fire loss\",\n    \"personal injury\", \"storm damage\", \"theft from vehicle\", \"water leak\", \"hail damage\"\n]\n\nlocations = [\n    \"Perth, WA\", \"Brisbane, QLD\", \"rural NSW\", \"Sydney CBD\", \"Gold Coast\",\n    \"Melbourne, VIC\", \"Adelaide, SA\", \"Darwin, NT\", \"Hobart, TAS\", \"Canberra, ACT\"\n]\n\nfirst_names = [\n    \"John\", \"Tina\", \"Mohammed\", \"Eliza\", \"Tommy\", \"Natalie\", \"Raj\", \"Sophie\", \"Jacob\", \"Linda\",\n    \"Grace\", \"Lucas\", \"Aisha\", \"Dylan\", \"Mei\", \"Ethan\", \"Amelia\", \"Noah\", \"Liam\", \"Zara\"\n]\n\nlast_names = [\n    \"Barnes\", \"Ho\", \"Faisal\", \"Chen\", \"Singh\", \"Brooks\", \"Patel\", \"Nguyen\", \"Wallace\", \"Park\",\n    \"Smith\", \"Brown\", \"Taylor\", \"Williams\", \"Jones\", \"Davis\", \"Lee\", \"Martin\", \"Clark\", \"Evans\"\n]\n\ndef generate_random_name():\n    return f\"{random.choice(first_names)} {random.choice(last_names)}\"\n\ndef random_date_within_last_year():\n    days_ago = random.randint(0, 365)\n    date = datetime.now() - timedelta(days=days_ago)\n    return date.strftime(\"%Y-%m-%d\")\n\nfor item in _input.all():\n    item.json.incident_type = random.choice(incident_types)\n    item.json.location = random.choice(locations)\n    item.json.claimant_name = generate_random_name()\n    item.json.incident_date = random_date_within_last_year()\n\nreturn _input.all()"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1920,
        -340
      ],
      "id": "ca30520d-ce3a-48c8-99d9-b47be47b95c2",
      "name": "Code"
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8n-rag",
          "mode": "list",
          "cachedResultName": "n8n-rag"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.2,
      "position": [
        -920,
        120
      ],
      "id": "bcf86c2c-c48e-43db-989e-8173a78155f7",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "yarfqmNIgYDv7E3e",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/text-embedding-004"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        -940,
        340
      ],
      "id": "00769523-82e3-4cd0-a149-8d48d96b3d99",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "zbK7qCPDl0c5uTDD",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.generated_document }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        -820,
        320
      ],
      "id": "44fe74c5-c97e-41bf-958e-815d30d2301f",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkOverlap": 100,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        -780,
        500
      ],
      "id": "33df02cc-8abc-446a-a6c9-8bb8f3e25fae",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -1960,
        940
      ],
      "id": "cbe7f058-85ab-4258-8ba2-55455712d885",
      "name": "When chat message received",
      "webhookId": "36ea2dc9-2eb3-4272-9d41-980cb6b1e29b"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainRetrievalQa",
      "typeVersion": 1.6,
      "position": [
        -1740,
        940
      ],
      "id": "4e108810-5caa-4362-8880-f52619554ed6",
      "name": "Question and Answer Chain"
    },
    {
      "parameters": {
        "model": "google/gemini-2.0-flash-lite-001",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -1760,
        1100
      ],
      "id": "92ee82e0-7f0c-464f-948a-661be88bad35",
      "name": "OpenRouter Chat Model1",
      "credentials": {
        "openRouterApi": {
          "id": "NZJ4cAvXYjvXmM8l",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.retrieverVectorStore",
      "typeVersion": 1,
      "position": [
        -1640,
        1120
      ],
      "id": "0057becd-1e1f-424f-a9fd-79b959a5f7d1",
      "name": "Vector Store Retriever"
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "n8n-rag",
          "mode": "list",
          "cachedResultName": "n8n-rag"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.2,
      "position": [
        -1720,
        1280
      ],
      "id": "ba37d22d-c40d-4520-aa0e-a265ca6d8050",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "yarfqmNIgYDv7E3e",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/text-embedding-004"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        -1720,
        1460
      ],
      "id": "78ce6e69-7873-4c6b-b80b-1664af1b4512",
      "name": "Embeddings Google Gemini1",
      "credentials": {
        "googlePalmApi": {
          "id": "zbK7qCPDl0c5uTDD",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1YPxkp5vQOGmQSu93jw1HvaEL9oYL0VtxMN_eQzLO6Uw",
          "mode": "list",
          "cachedResultName": "RAG Docs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1YPxkp5vQOGmQSu93jw1HvaEL9oYL0VtxMN_eQzLO6Uw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1YPxkp5vQOGmQSu93jw1HvaEL9oYL0VtxMN_eQzLO6Uw/edit#gid=0"
        },
        "options": {
          "returnFirstMatch": false
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -1080,
        120
      ],
      "id": "a28a39be-b1f0-4243-9e0e-34d41107ae1f",
      "name": "Fetch documents",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "JC2662nuoXYpTfST",
          "name": "Google Sheets account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Fetch documents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Vector Store Retriever": {
      "ai_retriever": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "ai_retriever",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_vectorStore": [
        [
          {
            "node": "Vector Store Retriever",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Fetch documents": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e73229df-130d-4455-82bc-069980563a97",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b9fdcb8e40a6b17d1374385affd8d37b53965227094ba6036f12a0b346b8f814"
  },
  "id": "UPkQnvTiTMfZx5pa",
  "tags": []
}